.my-book-marker{
    padding: 20px 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

@media screen and (max-width: 768px){
    .container {
        max-width: 730px;
    }

    .main-form{
        padding-top: 0;
    }

    .main-form__wrap{
        padding: 30px 15px;
    }
}
