.todo-list__item{
    width: 300px;
    padding: 5px;
    word-wrap: break-word;
    font-size: 17px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 10px;

}